<H1>{{title}}</H1>
<div class="flex">
<form class="container" style="margin-top: 20px; margin-left:20px" [formGroup]="signUpForm" (ngSubmit)="signup(signUpForm.value)">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Username</mat-label>
    <input type="text"  formControlName="name" matInput placeholder="Enter Your Name"  >
  </mat-form-field><br>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input type="email" formControlName="email"  matInput placeholder="Enter Your Email" >
  </mat-form-field><br>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Phone Number</mat-label>
    <input type="number" formControlName="mob" matInput placeholder="Enter Your Mobile Number" >
  </mat-form-field><br>
  <div *ngIf="m['mob'].touched && m['mob'].invalid" class="alert alert-danger">
    <div *ngIf="m['mob'].errors?.['required']">Please enter mobile number</div>
    <div *ngIf="m['mob'].errors?.['pattern']">Mobile number is not 10 digit</div>
  </div>
  
  <button mat-raised-button color="accent">Register</button>
  </form>
 <ul *ngFor="let data of users" >
  <li>{{data.user.name}}</li>
 </ul>
</div>
<router-outlet></router-outlet>